<h1>About</h1>
<p></p>
<p></p>
<h4>Our Mission</h4>
	<p>
		To provide our busy neighbors a healthy option for their dinners 3 times a week.
	</p>
	<p> </p>
	<p> </p>

<h4>How It Works</h4>
	<p> Sign up to be on our notificaiton list </p>
	<p> Log in during the week to see the upcoming weeks menu </p>
	<p> Give a call by Saturday to place your order </p>
	<p> Pay us when we get there </p>
	<p> It's that simple! </p>
		<p> </p>
		<p> </p>

	<h4>Area of Coverage </h4>
<p> Currently covering this terriroty.  If you live within the bounds of this vicinity map, we would love to cook for you!</p>
	<p> </p>
	<p> </p>
